<?xml version="1.0" encoding="utf-8"?>

<!-- Shayan Rais (http://shanraisshan.com) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bothservice">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityB"
            android:label="@string/title_activity_activity_b"/>

        <service
            android:name=".LocalService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
